<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>智谱知识库</title>
    <link rel="stylesheet" th:href="@{/css/chat.css}">
    <link rel="stylesheet" th:href="@{/css/all.min.css}">
    <script th:src="@{/js/marked.min.js}"></script>
</head>
<body>
<div class="chat-container">
    <div class="header">
        <button class="new-chat-btn" onclick="newChat()">
            <i class="fas fa-plus"></i> 新聊天
        </button>
        女性知识库 <span id="loading" style="display: none;">(思考中 <i class="fas fa-spinner fa-spin"></i>)</span>
    </div>
    <div class="messages" id="messages">
    </div>
    <div class="input-group">
        <label for="messageInput"></label><input type="text" id="messageInput" placeholder="在这里输入你的消息...">
        <button onclick="sendMessage()">发送</button>
    </div>
</div>
<script th:src="@{/js/chat.js}"></script>
</body>
</html>
